<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Luxury Gold - Blog</title>
        <meta name="description" content="">
        <meta name="author" content="templatemo">
        <!-- 
        Luxury Gold Template
        http://www.templatemo.com/preview/templatemo_456_luxury_gold
        -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/templatemo-style.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <!-- Header -->
        <div class="templatemo-container">
            <div class="templatemo-block-left">
                <div class="templatemo-header-left">
                    <div class="templatemo-header-text-wrap">
                        <div class="templatemo-header-text">
                            <h1 class="text-uppercase templatemo-site-name"><span class="gold-text"><b>Luxury</b></span> Gold</h1>
                            <hr class="templatemo-header-hr">
                            <p class="text-uppercase templatemo-slogan">Passion for Fashion</p>
                        </div>
                    </div>
                    <div class="templatemo-header-left-overlay"></div>
                    <div class="templatemo-social templatemo-gray-bg">
                        <ul>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="templatemo-block-right">
                <div class="templatemo-header-right">
                    <div class="templatemo-header-right-overlay"></div>
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="templatemo-nav">
                        <ul class="text-uppercase">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="men.html">Men</a></li>
                            <li><a href="#">Women</a></li>
                            <li class="active"><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> <!-- end Header -->

        <!-- "Latest News" -->
        <div class="container">
            <div class="row">
                <!-- Main content -->
              <section class="col-lg-8 col-md-8">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-uppercase">Latest News</h2>
                        <hr class="templatemo-section-header-hr">
                        <p class="text-uppercase templatemo-section-subheader margin-bottom-0">View All Posts</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <article class="templatemo-blog-post">
                            <div class="post-img-container">
                                <img src="img/post-1.jpg" alt="Post 1" class="post-img img-responsive">
                                <div class="templatemo-post-social">
                                    <div class="flex-center margin-top-10">
                                        <i class="fa fa-heart fa-2x red-bg"></i>
                                    </div>
                                    <div class="flex-center margin-top-10">
                                        <i class="fa fa-comments-o fa-2x gold-bg"></i>
                                    </div>
                                </div>
                                <div class="templatemo-post-date gold-text">
                                    <div>
                                        <div class="text-center date">20</div>
                                        <div class="text-center">January</div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-title">
                                <h3 class="text-uppercase">Aenean Sollicitudin Auctor</h3>
                            </div>
                            <div class="post-meta-data">
                                <p class="gold-text"><i>Posted by Admin Dev / Web Design / Comments: 116 / Views: 6,359</i></p>
                            </div>
                            <div class="post-excerpt gray-text">
                                <p>Aenean non ex neque. Sed vitae purus in urna volutpat iaculis. Ut congue vel tortor in tincidunt. Maecenas varius pellentesque odio sed facilisis. In ullamcorper augue quis nunc pellentesque faucibus. Proin interdum finibus enim, vel ultrices ipsum vulputate vel.</p>
                            </div>
                            <a href="#" class="gray-text margin-top-10 post-read-more">
                                <i class="fa fa-arrow-circle-o-right fa-2x v-align-middle"></i> Read More
                            </a>
                            <hr>
                        </article>
                         <article class="templatemo-blog-post">
                            <div class="post-img-container">
                                <img src="img/post-2.jpg" alt="Post 1" class="post-img img-responsive">
                                <div class="templatemo-post-social">
                                    <div class="flex-center margin-top-10">
                                        <i class="fa fa-heart fa-2x red-bg"></i>
                                    </div>
                                    <div class="flex-center margin-top-10">
                                        <i class="fa fa-comments-o fa-2x gold-bg"></i>
                                    </div>
                                </div>
                                <div class="templatemo-post-date gold-text">
                                    <div>
                                        <div class="text-center date">19</div>
                                        <div class="text-center">January</div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-title">
                                <h3 class="text-uppercase">Mobi Accumsan Ipsums Ametbelit</h3>
                            </div>
                            <div class="post-meta-data">
                                <p class="gold-text"><i>Posted by Admin Dev / Uncategorized / Comments: 256 / Views: 8,214</i></p>
                            </div>
                            <div class="post-excerpt gray-text">
                                <p>Aenean non ex neque. Sed vitae purus in urna volutpat iaculis. Ut congue vel tortor in tincidunt. Maecenas varius pellentesque odio sed facilisis. In ullamcorper augue quis nunc pellentesque faucibus. Proin interdum finibus enim, vel ultrices ipsum vulputate vel.</p>
                            </div>
                            <a href="#" class="gray-text margin-top-10">
                                <i class="fa fa-arrow-circle-o-right fa-2x v-align-middle"></i> Read More
                            </a>
                            <hr>
                        </article>
                        <article class="templatemo-blog-post">
                            <div class="post-img-container">
                                <img src="img/post-3.jpg" alt="Post 1" class="post-img img-responsive">
                                <div class="templatemo-post-social">
                                    <div class="flex-center margin-top-10">
                                        <i class="fa fa-heart fa-2x red-bg"></i>
                                    </div>
                                    <div class="flex-center margin-top-10">
                                        <i class="fa fa-comments-o fa-2x gold-bg"></i>
                                    </div>
                                </div>
                                <div class="templatemo-post-date gold-text">
                                    <div>
                                        <div class="text-center date">16</div>
                                        <div class="text-center">January</div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-title">
                                <h3 class="text-uppercase">Nam Nec Tellus Odio Incuit</h3>
                            </div>
                            <div class="post-meta-data">
                                <p class="gold-text"><i>Posted by Admin Dev / Uncategorized / Comments: 512 / Views: 10,588</i></p>
                            </div>
                            <div class="post-excerpt gray-text">
                                <p>Aenean non ex neque. Sed vitae purus in urna volutpat iaculis. Ut congue vel tortor in tincidunt. Maecenas varius pellentesque odio sed facilisis. In ullamcorper augue quis nunc pellentesque faucibus. Proin interdum finibus enim, vel ultrices ipsum vulputate vel.</p>
                            </div>
                            <a href="#" class="gray-text margin-top-10">
                                <i class="fa fa-arrow-circle-o-right fa-2x v-align-middle"></i> Read More
                            </a>
                            <hr>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="pagination-wrap blog-post-pagination">
                            <ul class="pagination">
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true"><i class="fa fa-play"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section> <!-- end "Latest News" -->
            <aside class="col-lg-4 col-md-4 templatemo-blog-post-aside">
                <div class="aside-block">
                    <h4 class="text-uppercase"><i>Categories</i></h4>
                    <hr class="gold-hr">
                    <ul class="category-list">
                        <li><a href="#">Aenean Sollicitudin</a></li>
                        <li><a href="#">Lorem Quis Bibendum Auctor</a></li>
                        <li><a href="#">Bnisi Elit Consequat Ipsum</a></li>
                        <li><a href="#">Nec SagittisSem Nibh ld elit</a></li>
                        <li><a href="#">Duis Sed Bdio Ritmet Consequat</a></li>
                    </ul>
                </div>
                <div class="aside-block">
                    <h4 class="text-uppercase"><i>Recent Posts</i></h4>
                    <hr class="gold-hr">
                    <article class="aside-post-excerpt">
                        <h5 class="text-uppercase">Aenean Sollicitudin Lorem</h5>
                        <p class="gold-text"><i>21 January 2084</i></p>
                        <p>Integer lorem enim, pretium suscipit lectus vitae, sagittis aliquet urna. Vivamus interdum pellentesque urna, at pharetra felis tincidunt in.</p>
                        <p><b><i>Author: Admin</i></b></p>
                    </article>
                    <hr class="gold-hr">
                    <article class="aside-post-excerpt">
                        <h5 class="text-uppercase">Aenean Sollicitudin Lorem</h5>
                        <p class="gold-text"><i>19 January 2084</i></p>
                        <p>Integer lorem enim, pretium suscipit lectus vitae, sagittis aliquet urna. Vivamus interdum pellentesque urna, at pharetra felis tincidunt in.</p>
                        <p><b><i>Author: Admin</i></b></p>
                    </article>
                </div> <!-- /.aside-block -->
                <div class="aside-block">
                    <h4 class="text-uppercase"><i>Tags</i></h4>
                    <hr class="gold-hr">
                    <ul class="tag-list">
                        <li><a href="#">Ad tibique</a></li>
                        <li><a href="#">Definiebas</a></li>
                        <li><a href="#">Lorem libris</a></li>
                        <li><a href="#">Magna erant qu</a></li>
                        <li><a href="#">Mandamus praesen</a></li>
                        <li><a href="#">Propriae</a></li>
                        <li><a href="#">Quod</a></li>
                    </ul>
                </div> <!-- /.aside-block -->
            </aside>
            </div>
        </div>

        <!-- "About Us" -->
        <section class="templatemo-dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="text-uppercase gold-text">About us</h2>
                        <hr class="templatemo-about-hr">
                        <p class="templatemo-about-subtitle">View More Details</p>
                        <hr class="templatemo-about-hr">
                        <p class="gray-text about-us-text">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                </div>
            </div>
        </section> <!-- end "About Us" -->

        <footer class="text-center">
            <p class="text-uppercase">
            	Copyright &copy; 2084 Company Name 
            	| Design: <a href="http://www.templatemo.com">template mo</a>
            </p>
        </footer>

        <!-- JS -->
        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
        <script type="text/javascript" src="js/templatemo-script.js"></script>      <!-- Templatemo Script -->

    </body>
</html>
